html, body, div, h1, p {
    margin: 0;
    padding: 0;
}
body {
    background: #fffdd0;
    height: 2000px;
}
#nav {
    background-color: orange;
    width: 100%;
    position: fixed;
    z-index: 2;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
  
  #nav a {
    text-decoration: none;
    color: #ffffff;
    padding-right: 20px;
  }
  #nav p {
      color: #ffffff;
      padding-left: 20px;
  }
  #navtitle {
      padding-top: 10px;
  }
  #navlist {
      text-decoration: none;
      padding-top: 10px;
  }
  .cardscontainer {
      max-width: 1500px;
      margin: 0 auto;
      display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #dashcontainer {
    border: orange solid;
    background-color: white;
    display: inline-block;
    margin: 50px 20px;
    width: 300px;
    height: 525px;
    border-radius: 25px;
  }
  #budgetcontainer {
    border: orange solid;
    background-color: white;
    display: inline-block;
    margin: 50px 20px;
    width: 300px;
    height: 525px;
    border-radius: 25px;
  }
  #checkcontainer {
    border: orange solid;
    background-color: white;
    display: inline-block;
    margin: 50px 20px;
    width: 300px;
    height: 525px;
    border-radius: 25px;
  }
  #moneycontainer {
    border: orange solid;
    background-color: white;
    display: inline-block;
    margin: 50px 20px;
    width: 300px;
    height: 525px;
    border-radius: 25px;
  }
  #dashcontainer h2, #budgetcontainer h2, #checkcontainer h2, #moneycontainer h2 {
      padding-left: 10px;
  }
  #dashcontainer p, #budgetcontainer p, #checkcontainer p, #moneycontainer p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.moreInfo {
    text-align: center;
    background-color: orange;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 25px;
}
.moreInfo a {
    text-decoration: none;
    color: white;
}